</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-box">
                <h6>CUSTOMER SERVICE OFFICE</h6>
                <ul>
                    <li><a href=""><i class="fas fa-phone"></i>505 1121 303 </a></li>
                    <li><a href=""><i class="fas fa-envelope"></i>walaa.horani@hotmail.com </a></li>
                    <li><a href=""><i class="fas fa-sms"></i>live chat </a></li>
                    <li><a href=""><i class="fas fa-location"></i>istanbul levent </a></li>
                </ul>
            </div>

            <div class="col-md-3 footer-box">
                <h6>copmany</h6>
                <ul>
                    <li><a href="">About Us </a></li>
                    <li><a href="">Newsroom </a></li>
                    <li><a href="">Careers @ Mouser </a></li>
                    <li><a href="">Environmental </a></li>
                </ul>
            </div>

            <div class="col-md-3 footer-box">
                <h6>RESOURCES</h6>
                <ul>
                    <li><a href="">Blog </a></li>
                    <li><a href="">Newest Products </a></li>
                    <li><a href="">New Manufacturers </a></li>
                    <li><a href="">Services & Tools </a></li>
                </ul>
            </div>

            <div class="col-md-2 footer-box">
                <h6>SUPPORT</h6>
                <ul>
                    <li><a href="">Contact Us </a></li>
                    <li><a href="">Help </a></li>
                    <li><a href="">Feedback </a></li>
                    <li><a href="">Browser Support </a></li>
                </ul>
            </div>

        </div>
        <div class="connect text-center mt-5">
<h6>connect with us</h6>
<div class="icons">
    <i class="fab fa-facbook"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-youtube"></i>
    <i class="fab fa-linkedin"></i>
    <i class="fab fa-instagram"></i>
</div>
        </div>
    </div>
</footer>